body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #5a0505; 
  }

  header {
    background-color: #921d1d;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-size: 24px;
  }

  .leaderboard-container {
    max-width: 600px;
    margin: 20px auto;
    background-color:#921d1d;
    padding: 20px;
    border-radius: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #fff;
    padding: 12px;
    text-align: left;
    color: #fff;
  }

  th {
    background-color:#5a0505; 
    color: #fff;
  }